/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes choose {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(50%);
  }
}

@keyframes like-zoom {
  0% {
    scale: 1;
  }

  95% {
    scale: 1.5;
  }

  100% {
    scale: 1;
  }
}

@keyframes like-sparks {
  from {
    fill: transparent;
  }

  to {
    fill: var(--themes-animation-color);
  }
}

/* like hover */
.like-icon:hover .main-body {
  fill: var(--themes-main-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:hover .core {
  fill: var(--themes-main-color);
  transition: fill 0.3s linear;
}

/* like active */
.like-icon:active .main-body {
  fill: var(--themes-animation-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--themes-animation-color);
  transition: fill 0.3s linear;
}

/* like click */
.like-icon .core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--themes-animation-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--themes-animation-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--themes-animation-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .body {
  transform-origin: center;
  animation: like-zoom 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: like-sparks 0.3s 0.3s ease-in alternate;
}
