/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main: "Inter-Variable", serif;
  --font-accent: "PressStart2P", fantasy;
  --themes-main-color: #00cc14;
  --themes-backgroud-color: #000;
  --themes-button-text-color: #00cc14;
  --themes-animation-color: #ff0000;
  --themes-font-weight-title: 785;
  --themes-font-weight-content: 465;
  --background: repeating-linear-gradient(90deg, black 0px 2px, rgba(0, 0, 0, 0) 2px 4px),
  repeating-linear-gradient(180deg, black 0px 2px, rgba(0, 0, 0, 0) 2px 4px),
  linear-gradient(180deg, #007f0c 0%, #004306 100%);
}
